body {
    background: url(https://static.collectui.com/shots/3258249/90-s-pattern-large) no-repeat;
    background-size: 100%;
}

#header{
    text-align: center;
    background: 860px;
    background-color: blueviolet;
    font-size:  5em;
}
#instructions {
    background: 860px;
    background-color: yellowgreen;
}
#goal{
    width: 100px;
    height: 35px;
    background-color: aquamarine;
    font-size: 1.8em;
}
.buttons {
    width: 100px;
    height: 100;
}
.buttons:hover{
    background-color: aqua;
}
#score{
    width: 100px;
    height: 35px;
    background: red;
    font-size: 1.8em;
    
}
.winsloses {
    width: 600px;
    height: 130px;
    background: lightyellow;
    font-size: 1.8em;
}